#stage {
    cursor: crosshair;
    background-color: blueviolet;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

#button1 {
    background-image: url(../assets/button.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    /* use no-drop for no click */
    cursor: pointer;
    position: absolute;
    left: 400px;
    bottom: 70px;
}

#button2 {
    background-image: url(../assets/button.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 120px;
    cursor: pointer;
    position: absolute;
    right: 400px;
    bottom: 70px;
}